<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html> 
    <head>
        <title>Index of {{DIRECTORY}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            body {
                font-family: Helvetica;
                margin-top: 25px;
            }
            /* Desktop Version */
            .listing {
                width: 30%;
                text-align: left;
            }
            /* Mobile Version */
            @media screen and (max-width: 481px){
                .listing {
                    width: 85%;
                    text-align: left;
                }
            }
        </style>
    </head>
    <body style="font-family:Helvetica;margin-top:25px;">
        <center>
            <h1>Index of {{DIRECTORY}}</h1>
            <table class="listing">
                <tr><th>Name</th><th style="float:right;">Size</th></tr>
                {{LISTING}}
            </table>
        </center>
    </body>
</html>
